<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Flask App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <!-- 在Bootstrap JS之前引入jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <style>
          .floating-button {
              position: fixed;
              bottom: 20px;
              right: 20px;
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background-color: #007bff;
              color: #fff;
              text-align: center;
              line-height: 50px;
              cursor: pointer;
          }


        .container2 {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            margin: 20px auto;
            max-width: 600px;
            padding: 20px;
        }


        .form-group label {
            font-weight: bold;
        }

        .btn-primary {
            background-color: #007BFF;
            border: none;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }

        .result {
            text-align: center;
            margin-top: 20px;
        }

    </style>
</head>


<body>
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">医药管理系统</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="#"></a>
      </div>
    </div>
  </header>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3 sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('hz') }}">
                  <span data-feather="home" class="align-text-bottom" ></span>
                    主页
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('hz_jkda') }}">
                  <span data-feather="file" class="align-text-bottom"></span>
                  健康档案
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('hz_ywgl') }}">
                  <span data-feather="file" class="align-text-bottom"></span>
                  药物管理
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">
                  <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                  退出登录
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('hz_pj') }}">
                  <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                  评价
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('hz_xgmm') }}">
                  <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                  修改密码
                </a>
              </li>
            </ul>
          </div>
        </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"></h1>
        <div class="btn-toolbar mb-2 mb-md-0">

        </div>
      </div>
        <div class="container">
            <div class="col">
              <h1>祝您早日康复!</h1>
            </div>
          </div>
          </main>
      </div>
      </div>
      </div>
    </div>

    <!-- Floating button -->
    <div class="floating-button" data-bs-toggle="modal" data-bs-target="#myModal">+</div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">医疗费用预测</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container2">
                        <form method="POST">
                            <div class="form-group">
                                <label for="age">年龄:</label>
                                <input type="number" class="form-control" id="age" name="age" required>
                            </div>
                            <div class="form-group">
                                <label for="sex">性别:</label>
                                <select class="form-control" id="sex" name="sex" required>
                                    <option value="1">Male</option>
                                    <option value="0">Female</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="bmi">体重指数(BMI):</label>
                                <input type="number" step="0.01" class="form-control" id="bmi" name="bmi" required>
                            </div>
                            <div class="form-group">
                                <label for="children">子女人数:</label>
                                <input type="number" class="form-control" id="children" name="children" required>
                            </div>
                            <div class="form-group">
                                <label for="smoker">是否为吸烟者:</label>
                                <select class="form-control" id="smoker" name="smoker" required>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="region">来自:</label>
                                <input type="number" class="form-control" id="region" name="region" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">开始预测</button>
                        </form>
                </div>
                {% if prediction_result %}
                    <div class="result">
                        <h2>预测结果为:</h2>
                        <p>${{ prediction_result }}人民币</p>
                    </div>
                {% endif %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            // Show the modal when the floating button is clicked
            $('.floating-button').click(function () {
                $('#myModal').modal('show');
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" integrity="sha384-/mhDoLbDldZc3qpsJHpLogda//BVZbgYuw6kof4u2FrCedxOtgRZDTHgHUhOCVim" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

</body>
</html>
